* {
    margin: 0;
    padding: 0;
   }
  .cabecalho {    
    background-color: #383D58;
    color: white;   
    display:flex;
    justify-content: space-around;
    padding: 24px 0; 
    border: 5px solid black;
    }
  .imagem-cabecalho {
    width: 20%;
  }
  
  .cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
    font-style: italic
  }
  
  .escola-titulo {
    font-style: italic;
    font-size: 24px;
    margin: 12px;
  }
  
  .escola-texto-um {
    font-style: italic;
    font-size: 12px;
    margin: 12px;
  }
  
  .escola-texto-dois {
    font-style: italic;
    font-size: 12px;
    margin: 12px;
  }